<div>
	<div layout="row" layout-align="start center">
		<div>
			<md-button id="showListButton" class="md-raised md-primary" ng-click="showList()">Bring List</md-button>
		</div>
		<div>
			<md-button id="hideListButton" class="md-raised md-warn" ng-click="hideList()">Hide List</md-button>
		</div>
	</div>

	<div ng-if="showingList">
		<h3 id="listTitle">Fruits</h3>
		<p id="listSubtitle">List of fruits:</p>
		<div id="listContent">
			<md-content>
				<md-list flex>
					<md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
					<md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
						<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
						<div class="md-list-item-text" layout="column">
							<h3>{{ item.who }}</h3>
							<h4>{{ item.what }}</h4>
							<p>{{ item.notes }}</p>
						</div>
					</md-list-item>
					<md-divider ></md-divider>
				</md-list>
			</md-content>
		</div>
	</div>
</div>